WarningsAsErrors: "*"

Checks: >
  -*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  llvm-*,
  
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters,
  -readability-magic-numbers
  