ColumnLimit: 180
IndentWidth: 2
TabWidth: 2

BasedOnStyle: Google

DerivePointerAlignment: false
PointerAlignment: Left

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignEscapedNewlines: Right